{
  "printWidth": 96,
  "overrides": [
    {
      "files": ["*.sol"],
      "options": {
        "printWidth": 96,
        "tabWidth": 4,
        "useTabs": false,
        "singleQuote": false,
        "bracketSpacing": false,
      }
    }
  ]
}